# 라이브러리
pip install django matplotlib
pip install pandas
pip install tensorflow
pip install tensorflow_datasets
pip install googletrans==3.1.0a0
pip install PyKakao pickle
pip install python-decouple
pip install nltk

#db 추가
python manage.py migrate
python manage.py makegrations

# 실행
cd chatbot
python manage.py runserver