{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI Test Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    <div class="outer">       
        <div class="inner">
            <div class="header">
                MBTI 테스트 &nbsp;
                <button type="button" id="close-btn" class="btn">대화 종료</button>
            </div>
            <div class="container">
                <ul id="chatting-list" class="chatting-list"></ul>
            </div>
            <div style="width: 100%; display: flex;">
                <textarea type="text" id="send-msg" class="send-msg" rows="1" maxlength="200" placeholder="Message Chatbot…"></textarea>
                <button type="button" id="send-btn" class="btn">전송</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    var chattingList = localStorage.getItem('chattingList');

    if (chattingList) {
        document.getElementById('chatting-list').innerHTML = chattingList;
    }

    let botBubbleEl;

    document.getElementById('send-msg').addEventListener('input', event => {
        const minRows = 1;
        const maxRows = 5;
        const textarea = document.getElementById('send-msg');

        textarea.rows = Math.min(maxRows, Math.max(minRows, textarea.value.split('\n').length));
    });

    document.getElementById('send-msg').addEventListener('keydown', event => {
        if (event.key === 'Enter' || event.keyCode === 13) {
            document.getElementById('send-btn').click();
        }
    });

    document.getElementById('close-btn').addEventListener('click', event => {
        const bubbleCount = document.getElementById('chatting-list').children.length / 2;
        const minBubble = 1;

        if(bubbleCount < minBubble) {
            Swal.fire({
                icon: "error",
                title: "챗봇과 조금 더 대화해주세요",
                text: "MBTI 유형을 결정하기 위한 데이터가 부족합니다.(" + bubbleCount + "/" + minBubble +")",
                confirmButtonColor: "#ff8c00",
            });
        } else {
            Swal.fire({
                title: "정말 대화를 종료하시겠습니까?",
                text: "지금까지의 대화를 바탕으로 MBTI 유형이 결정됩니다.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#ff8c00",
                cancelButtonColor: "#4d4746",
            }).then((result) => {
                if (result.isConfirmed) {
                    localStorage.removeItem('chattingList');
                    location.href='/result';
                }
            });
        }
    });

    document.getElementById('send-btn').addEventListener('click', event => {
        const messageEl = document.getElementById('send-msg');
        const msgValue = messageEl.value;

        const userBubbleEl = document.createElement('div');
        userBubbleEl.classList.add('bubble');
        userBubbleEl.classList.add('left-bubble');
        userBubbleEl.innerHTML = msgValue;

        document.getElementById('chatting-list').appendChild(userBubbleEl);
        saveData(userBubbleEl);

        botBubbleEl = document.createElement('div');
        botBubbleEl.classList.add('bubble');
        botBubbleEl.classList.add('right-bubble');
        botBubbleEl.innerHTML = 'Loading...';

        messageEl.value = ``;

        setTimeout(() => {
            document.getElementById('chatting-list').appendChild(botBubbleEl);  

            getData(msgValue); 
            saveData(botBubbleEl);
        }, 400);
    });

    function saveData(element) {
        var chattingList = localStorage.getItem('chattingList');

        if (chattingList) {
            localStorage.setItem('chattingList', chattingList + element.outerHTML);
        } else {
            localStorage.setItem('chattingList', element.outerHTML); 
        }
    }

    function getData(sentence) {
        const xhr = new XMLHttpRequest();

        xhr.open('POST', '/chat', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

        xhr.send(JSON.stringify({'sentence': sentence}));

        xhr.onload = function() {
            if (xhr.status === 200) {
                const responseData = JSON.parse(xhr.responseText);
                botBubbleEl.innerHTML = responseData.predicted_sentence;
            }
        };
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</html>