{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI Test Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="outer">
        <div class="inner">
            <div class="content">
                <span class="mbti_title">MBTI TEST<br>Chatbot</span>
                <button type="button" id="start-btn" class="rounded-button">테스트 시작</button>
            </div>
            <img src="{% static 'images/big_eye.png' %}" alt="MBTI Image">
        </div>
    </div>
</body>
<script src="{% static 'js/common.js' %}"></script>
<script>
    document.getElementById('start-btn').addEventListener('click', event => {
        location.href='/chat'
    });

</script>
</html>