.container {
    width: 100%; 
    display: flex; 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    width: 10px;
}
.container::-webkit-scrollbar-thumb {
    background-color: #d7d5e0;
    border-radius: 10px;
}
.container::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.chatting-list{
    width: 100%; 
    padding: 10px;
}

.bubble {
    position: relative;
    padding: 15px;
    min-width: 50px;
    max-width: 50%;
    word-wrap: break-word;
    height: auto;
    text-align: left;
    margin-bottom: 20px;
}

.left-bubble {
    background-color: #f4f4f4;
    border-radius: 20px 15px 15px 0;
    margin-right: auto;
}

.right-bubble {
    background-color: #f14b0f;
    color: #fff;
    border-radius: 15px 15px 0 15px;
    margin-left: auto;
}

.send-msg {
    width: calc(100% - 80px);
    border: 2.4px solid #f14b0f;
    border-radius: 20px;
    outline: none;
    resize: none;
    padding: 10px;
    align-self: center;
    margin: 10px;
    margin-right: 5px;
}

.send-msg:disabled  {
    border: #f4f4f4 !important;
}

@media only screen and (max-width: 900px) {
    .bubble {
        width: 50vw;
    }
}
